<div class="container">
  <nav class="row  orange">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{config?.title | uppercase}}</span>
    </div>
  </nav>

      <table>
        <thead>
          <tr>
              <th>Index</th>
              <th>Guitar name</th>
              <th>Price</th>
          </tr>
        </thead>
        <tbody *ngFor="let guitar of guitars; let i = index ">
          <tr>
            <td>{{i+1}}.</td>
            <td><strong>{{guitar.name}}</strong></td>
            <td><i>{{guitar.price}}</i> zł</td>
          </tr>
        </tbody>
      </table>
   
<div class="searchbox">
  <form class="form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search Guitars" aria-label="Please write name searching guitar" matInput 
            [formControl]="contactAutocompleteControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayGuitarsFn">
          <mat-option *ngFor="let guitar of filteredGuitarsOptions | async" [value]="guitar">
            {{guitar.name}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngFor="let validation of validation_msgs.contactAutocompleteControl">
          <div *ngIf="contactAutocompleteControl.hasError(validation.type)">
            {{validation.message}}
          </div>
        </mat-error>
      </mat-form-field>  
  </form>
  <button mat-button class="btn green accent-4" (click)="addGuitars(contactAutocompleteControl.value, amount)">Add to cart</button>
</div>

<app-cart></app-cart>

  <footer class="page-footer  orange">
    <div class="footer-copyright  orange">
      <div class="container  orange">
        {{config?.date | date:'short'}} {{config?.footer}}
      </div>
    </div>
  </footer>
</div>
