/* Small corect style materialize framework */
body{
    background-color: #cddc;
    color: white;
}
input{
    color:white;
    text-align: center;
}
#add{
   margin-left: 90%;
}
#reset{
    margin-top: 1%;
    margin-left: 86.5%;
}

/* Small correct responsive materialize style */
@media only screen and (max-width: 600px) {
    #add{
        margin-left: 67%;
     }
     #reset{
         margin-left: 66.5%;
     }
  }
@media only screen and (min-width: 600px) {
    #add{
        margin-left: 77%;
     }
     #reset{
         margin-left: 76.5%;
     }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
